<% title "Challenge ##{@challenge.position}" %>

<div>Level: <%= @challenge.level %> - Topic: <%= @challenge.topic %></div>

<h2>Question: </h2>
<pre><%= @challenge.question %></pre>

<h2>Hints: </h2>
<pre><%= @challenge.hints %></pre>

<h2>Solution: </h2>
<pre><%= @challenge.solution %></pre>

<% if @challenge.input_pattern.present? %>
<h2>Input Pattern: </h2>
<pre><%= @challenge.input_pattern %></pre>
<% end %>

<% if @challenge.output_pattern.present? %>
<h2>Output Pattern: </h2>
<pre><%= @challenge.output_pattern %></pre>
<% end %>

<% if @challenge.result.present? %>
<h2>Result: </h2>
<pre><%= @challenge.result %></pre>
<% end %>

<br/><%= link_to "Edit", edit_challenge_path(@challenge) %>

<br/><br/><%= link_to "Back to list", challenges_path %>
