<% title "Challenge ##{@challenge.position}" %>

<div class="top-right">
<% if @previous.present? %>
  <%= link_to "Previous challenge", challenge_path(@previous) %>
<% else %>
  No previous challenge
<% end %>
|
<% if @next.present? %>
  <%= link_to "Next challenge", challenge_path(@next) %>
<% else %>
  no more challenges
<% end %>
</div>

<div>Level: <%= @challenge.level %> - Topic: <%= @challenge.topic %></div>

<h2>Question: </h2>
<pre><%= @challenge.question %></pre>

<h2>Hints: </h2>
<%= link_to "Show", "#" %>
<pre class="hidden"><%= @challenge.hints %></pre>

<% if @challenge.input_pattern.present? %>
<h2>Input Pattern: </h2>
<%= link_to "Show", "#" %>
<pre class="hidden"><%= @challenge.input_pattern %></pre>
<% end %>

<% if @challenge.output_pattern.present? %>
<h2>Output Pattern: </h2>
<%= link_to "Show", "#" %>
<pre class="hidden"><%= @challenge.output_pattern %></pre>
<% end %>

<% if @challenge.result.present? %>
<h2>Result: </h2>
<%= link_to "Show", "#" %>
<pre class="hidden"><%= @challenge.result %></pre>
<% end %>

<h2>Solution: </h2>
<%= link_to "Show", "#" %>
<pre class="hidden"><%= @challenge.solution %></pre>

<br/>
<br/>
<br/>
<hr/>

<h2>Test your solution below</h2>
<% flash.each do |name, msg| %>
  <%= content_tag(:div, raw(msg), :id => "flash_#{name}") %>
<% end %>
<% if session[:error_messages].present? %>
<ul>
  <% session[:error_messages].each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
</ul>
<% end %>

<%= form_tag test_challenge_path do %>
  <%= text_area_tag :solution, session[:solution], placeholder: "Enter your solution here", :rows => 8, :cols => 50 %>
  <div class="actions"><%= submit_tag "Check my solution" %></div>
<% end %>

<% session.delete(:solution)
session.delete(:error_messages) %>

<br/><%= link_to "Edit", edit_challenge_path(@challenge) %> | <%= link_to "Back to list", challenges_path %>
