<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Programming Challenges</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if yield(:h1).present? %><h1><%= yield(:h1) %></h1><% end %>
<%= yield %>
</body>
</html>
